<div class="content ">
  <div class="content__item">
    <div class="card"><strong>41</strong> Foobars</div>
  </div>
  <div class="content__item">
    <div class="card"><strong>81.712</strong> Doohickeys</div>
  </div>

  <div class="content__item content__item--full">
    <div class="card">
      <img src="https://imgs.xkcd.com/comics/decline.png" alt="" />
    </div>
  </div>

  <div class="content__item content__item--full">
    <div class="card">
      <img src="https://imgs.xkcd.com/comics/decline.png" alt="" />
    </div>
  </div>
</div>
