/* You can add global styles to this file, and also import other style files */

$sl-header-height: 70px;
$sl-side-nav-width: 300px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
}

.container {
  --spacing: 1 rem;

  display: flex;
  flex-wrap: wrap;

  display: grid;
  height: 100vh;

  background-color: #f4f7fa;

  grid-template-rows: $sl-header-height;
  grid-template-columns: $sl-side-nav-width;
  grid-template-areas:
    'header header'
    'nav main';

  @media screen and (min-width: 48rem) {
    --spacing: 2rem;
  }
}

.container .sl-head {
  display: flex;
  flex-basis: 100%;
  grid-area: header;
  height: $sl-header-height;
  background-color: #fff;
  position: relative;
  padding-left: 1rem;
}

.container .sl-nav {
  flex: 0 0 $sl-side-nav-width;
  grid-area: nav;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 4rem 0rem 3rem 0.5rem;
}

.sl-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.container .sl-main {
  flex: 1;
  grid-area: main;
  padding: var(--spacing);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 2rem;
}

.content {
  --column-count: 2;

  // Flexbox Fallback
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing) * -0.5);

  // Grid
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);

  &__item {
    // By default, items span 2 columns
    flex: 1 1 50%;
    grid-column-end: span 2;
    padding: calc(var(--spacing) / 2);

    // these span the full width
    &--full {
      flex-basis: 100%;
      grid-column: 1 / -1;
    }

    // these span only one column
    &--col {
      flex-basis: calc(100% / var(--column-count));
      grid-column-end: span 1;
    }
  }

  // Switch to 4-col grid on larger screens
  @media screen and (min-width: 48rem) {
    --column-count: 4;
  }

  // If we have grid support, reset the margins and paddings;
  // grid-gap handles the spacing for us.
  @supports (display: grid) {
    margin: 0;

    &__item {
      padding: 0;
    }
  }
}

.logo {
  display: flex;
  flex: 0 0 $sl-side-nav-width;
  height: $sl-header-height;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  background-color: #fff;
  font-size: 1rem;

  h1 {
    margin: 0;
  }
}

.card {
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
